/* Start General rules */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Changa', sans-serif;
  scroll-behavior: smooth;
}

/* End General rules */

/* Header Start */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 30, 9, 0.4), rgba(4, 30, 9, 0.9)), url(../images/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}


.header .nav {
  display: flex;
  padding: 2% 4%;
  justify-content: space-between;
  align-items: center;

}

.header .nav .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .nav .logo-container .logo {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}


.header .nav .nav-links {
  flex: auto;
  text-align: left;
  direction: rtl;
}

.header .nav .nav-links ul li {
  display: inline-block;
  list-style: none;
  position: relative;
  padding: 0px 12px;
}

/* nav links underline using after */
.header .nav .nav-links ul li:not(:last-child)::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: black;
  margin: auto;
  display: block;
  transition: 0.3s;
}

.header .nav .nav-links ul li:not(:last-child):hover::after {
  width: 100%;
  background: #eee;
}

.header .nav .nav-links ul .special {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 5px;
  transition: 0.3s;
}

.header .nav .nav-links ul .special:hover {
  background-color: #eee;
  border-color: transparent;
  color: black;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

/* Header End */
/* landing start */
.text-box {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 10px;
  font-weight: 600;
}

.text-box h1 {
  font-size: 50px;
}

.text-box a {
  text-decoration: none;
  color: black;
  background-color: #fff;
  position: relative;
  top: 15px;
  border-radius: 10px;
  padding: 5px;
  transition: 0.3s;
}

.text-box a:hover {
  padding: 10px;
}

/* landing end */
/* start certificates */
.certificates {
  background-image: linear-gradient(rgba(4, 30, 9, 0.9), rgba(250, 250, 250, 0.6)), url(../images/certificates.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 50px;
  color: white
}

.cards-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 30px;
}

.cards-container .card {
  margin: 20px 10px;
  background-color: #ddd;
  border-radius: 2px;
  color: black;
}

.certificates .cards-container .card h3 {
  padding-top: 5px;
}

.certificates .cards-container .card p {
  padding: 10px;
}

/* certificates end */
/* university start */
.university {
  background-color: rgb(6, 55, 6);
}

.university .cards-container {
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  text-align: center;
}

.university .cards-container i {
  font-size: 50px;
}

.university .cards-container .card {
  background-color: transparent;
  color: white;
}

/* university end */
/* start testimonial  */
.testimonial {
  background-color: rgb(6, 55, 6);

}

.testimonial h1 {
  text-align: center;
  color: #fff;
  padding-top: 20px;
}

.testimonial .cards-container {
  grid-template-columns: repeat(2, 1fr);
  padding: 20px
}

.testimonial .cards-container .card {
  text-align: center;
  padding: 15px;
}

/* testimonial end */
/* footer start */
.footer {
  padding: 30px;
}

.footer .footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer-links a {
  padding: 0 5px;
  text-decoration: none;
  color: black;
}

.footer .footer-links a:hover {
  color: cadetblue;
}

.footer p {
  text-align: center;
}

/* footer end */